@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Bree+Serif&family=Courier+Prime:wght@400;700&family=Cutive&family=Sanchez&display=swap");

:root {
	--black: #000;
	--white: #fff;
	--github-fill: var(--white);
	--github-color: #151513;
	--github-focus: rgb(255, 123, 0);
	--text-color: #fdf8f3;
	--image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7d0ff7b6-55f7-4604-88a6-0f056d1bdae8/d9le5zx-c7e90370-5bd8-4029-9885-455f03502d92.jpg/v1/fill/w_900,h_504,q_75,strp/keep_sailing___one_piece_by_ombobon_d9le5zx-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA0IiwicGF0aCI6IlwvZlwvN2QwZmY3YjYtNTVmNy00NjA0LTg4YTYtMGYwNTZkMWJkYWU4XC9kOWxlNXp4LWM3ZTkwMzcwLTViZDgtNDAyOS05ODg1LTQ1NWYwMzUwMmQ5Mi5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Ld_v98xJBrdh9y6wZRU7HOv-Y6axraEfUbEuhSZ7pFw")
		no-repeat center center/cover;
	--text-shadow: 1px 1px 15px rgba(255, 245, 201, 0.35), 1px 10px 70px rgba(255, 245, 201, 0.35),
		0px 5px 5px rgba(88, 88, 88, 0.35), -5px 5px 20px rgba(88, 88, 88, 0.35), 5px 5px 20px rgba(88, 88, 88, 0.35);
	--translate: translate3d(-50%, -50%, 0);
	--futura: futura-pt, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--futura);
	font-weight: 600;
	font-style: normal;
	display: flex;
	align-items: center;
	height: 100%;
	height: 100vh;
	cursor: pointer;
	overflow: hidden;
	background: var(--image);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
.fake-big {
  display: block;
  font-size: 10rem;
  font-weight: bolder;
  position: absolute;
  /* // top: -100px; */
  left: 170px;
  color: rgba(65, 65, 65, 0.068);
  text-shadow: 2px 2px 4px 0 rgba(27, 26, 26, 0.5);
  user-select: none;
}
  header {
	width: 95%;
	height: 10vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
  }
  #sound {
	padding: 7px;
	background-color: #1b1b1b;
	border-radius: 5px;
	display: flex;
	align-items: center;
	color: #fff;
  }
  .sound-cloud {
	font-size: 1.2rem;
	margin: 7px;
	color: #f50057;
  }
  .on-off {
	cursor: pointer;
	margin-left: 5px;
  }
  #off {
	color: #f50057;
  }
  #on {
	display: none;
	color: #08fdd8;
  }
  .btns-container .fas {
	font-size: 2rem;
	padding: 10px;
	background-color: #181818;
	color: #fff;
	cursor: pointer;
  }
  .btns-container .fas:nth-child(2) {
	display: none;
  }

p {
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.005em;
	pointer-events: none;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: var(--translate);
	transform: var(--translate);
	text-shadow: var(--text-shadow);
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@media only screen and (max-width: 768px) {
	p {
		font-size: 3em;
	}
}
